body {
    text-align: center;
}
h1, h2, ul, p, address {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}
ul {
    padding: 0;
}
li {
    margin: 10px 0;
    list-style-type: none;
}
h1, h2 {
    margin-bottom: 20px; /* Nagyobb sortávolság a címsorok között */
}
table {
    margin: 0 auto; /* A táblázat középre igazítása */
    border-collapse: collapse; /* A táblázat cellái közötti rés bezárása */
}

th, td {
    border: 1px solid black; /* Cellák szegélyezése */
    padding: 5px; /* Belső térköz a cellákban */
}