

    <h1>Hatósági Ügyek Intézésének Rendje</h1>

    <h2>Az államigazgatási, önkormányzati és egyéb hatósági ügyekben ügy fajtánként és eljárástípusonként a hatáskörrel rendelkező szerv:</h2>
    <table border="1">
        <tr>
            <th>Szerv neve</th>
            <th>Cím</th>
            <th>Telefonszám</th>
        </tr>
        <tr>
            <td>Ivánci Közös Önkormányzati Hivatal</td>
            <td>9931 Ivánc, Kossuth L. u 119.</td>
            <td>+36/94/542-027</td>
        </tr>
        <tr>
            <td>Ivánci Közös Önkormányzati Hivatal Pankaszi Kirendeltsége</td>
            <td>9937 Pankasz, Fő út 64.</td>
            <td>+36/94/548-081</td>
        </tr>
        <tr>
            <td>Radicsné dr. Soós Ágnes jegyző</td>
            <td>-</td>
            <td>+36/94/542-027</td>
        </tr>
        <tr>
            <td>Tóth Zoltán aljegyző</td>
            <td>-</td>
            <td>+36/94/548-060</td>
        </tr>
    </table>

    <h2>Az államigazgatási, önkormányzati és egyéb hatósági ügyekben ügyfajtánként és eljárástípusonként a hatáskörrel rendelkező, hatáskör gyakorlásának átruházása esetén a ténylegesen eljáró szerv illetékességi területe:</h2>
    <p>Kisrákos község közigazgatási területe</p>

    <h2>A szerv alaptevékenysége, feladat- és hatásköre</h2>
    <ul>
        <li>Magyarország Alaptörvénye</li>
        <li>1991. évi XX. törvény a helyi önkormányzatok és szerveik, a köztársasági megbízottak, valamint egyes centrális alárendeltségű szervek feladat- és hatásköreiről</li>
        <li>2011. évi CLXXXIX. törvény Magyarország helyi önkormányzatairól</li>
        <li>2011. évi CXCV. törvény az államháztartásról</li>
        <li>368/2011. (XII. 31.) Korm. rendelet az államháztartásról szóló törvény végrehajtásáról</li>
        <li>4/2013. (I. 11.) Korm. rendelet az államháztartás számviteléről</li>
        <li>Községi Önkormányzat Kisrákos Képviselő-testületének 12/2013. (XII. 31.) önkor-mányzati rendelete az Önkormányzat Szervezeti és Működési Szabályzatáról</li>
    </ul>

    <h2>Jogszabályok</h2>
    <p>A jogszabályok, közjogi szervezetszabályozó eszközök, valamint a szervezeti és működési szabályzat vagy ügyrend, az adatvédelmi és biztonsági szabályzat hatályos és teljes szövegét tartalmazó önálló dokumentumok elérhetőségének biztosításával.</p>
    <p><a href="https://or.njt.hu/">Az eredeti forrás itt érhető el</a></p>

