/*===========================
  Menu and Navigation
============================ */
#navElement{
	cursor: pointer;
}

#navbarTitle{
	width: 200px;
}

#navbarSupportedContent{
	width: 100%;
}
  
.navbar-brand{ 
padding-left: 40px;	
}
 
.navigation  {
	background-color:#fff;
	padding:0; 
	width: 100%;
}

.navbar-brand h1 {
	margin-top:9px;
	padding-top:5px;
	float: left;
	font-size: 25px;
	color:#333;
	text-transform:uppercase;
	font-weight:900;
}
.navbar-brand h1 span {
	color: #1BBD36;
}


.menu {
	font-size:12px;
	float:right;
	text-transform:uppercase;
	font-weight:700;
}

.menu ul.nav-tabs li {
	color:#000;
}

.nav-tabs {
	border-bottom: 0;
}
.nav-tabs > li {
	float: left;
	margin-bottom: 0;
}
.nav-tabs > li > a {
	border-radius:0;
	color:#333;
	padding:30px;
}

.nav-tabs > li > a:hover {
	color: #1BBD36;
	border-color: #fff #fff #fff;
	border-radius:0;
	background-color:#fff;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.nav-tabs > li > a.active {
	color: #1BBD36;
	border-radius:0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}



@media (max-width: 767px) {
	.navbar-brand {
		padding-top: 6px;
	}
	.navbar-brand h1 {
		margin-top: 0;
	}

	.nav-tabs > li {
		float: none;
		display: block;
	}

	.menu {
		position: absolute;
		left: 0;
		right: 0;
		background: #fff;
		height: auto;
	}

	.nav-tabs > li > a {
		padding:15px 15px;
		border-bottom: 1px solid #f3f3f3;
	}

	.nav-tabs > li > a:hover {
		border-color: #f3f3f3;
	}
}