#main-slider .carousel .btn-slide {
    padding: 8px 20px;
    background: #1BBD36;
    color: #fff;
    border-radius: 4px;
    margin-top: 25px;
    display: inline-block;
  }
  

  #backButton{ 
    width: 500 !important;
  }

  .pagination-prev{
  content: "Előző"; 
  }