<header>
    <app-nav-bar></app-nav-bar>
  </header>
  


      <div class="container">
        <div class="row">  
          <section class="col-3">  
          </section>
          <section class="col-9">   
               <div style="float: left; padding-bottom: 20px;">
      <h4>Felelős állatartás elősegítése (2021)</h4>
      <br>

      <div class="text-center">
      </div>
      
       <div class="col-md-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <a href="assets/documents/palyazat/Felelős állatartás elősegítése.docx"><img src="assets/images/icons/word.png" class="img-responsive" /></a>

      </div>
	  
	  
      <div class="col-md-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="assets/documents/palyazat/Felelős állattartás elősegítése.jpg" class="img-responsive" />
               </div>

         <div class="col-md-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="assets/documents/palyazat/mfp_logo.jpg" class="img-responsive" />


      </div>
 
        </div>


      
          <div style="float: left;">
      <h4>MFP közösségi tér fejlesztése (2020)</h4>
      <br>

      <div class="text-center">
      </div>
      
       <div class="col-md-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <a href="assets/documents/palyazat/Honlapra nyilvánosság - MFP közösségi tér fejlesztése.docx"><img src="assets/images/icons/word.png" class="img-responsive" /></a>

      </div>
	  
	  
      <div class="col-md-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="assets/images/palyazat.jpg" class="img-responsive" />

      </div>
 
  <div class="col-md-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="assets/documents/palyazat/mfp_logo.jpg" class="img-responsive" />
       </div>
       
       </div>
           <div style="float: left;">
      <h4>MFP útfelujítás (2021)</h4>
      <br>

      <div class="text-center">
      </div>
      
       <div class="col-md-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <a href="assets/documents/palyazat/Honlapra nyilvánosság - MFP útfelújítás.docx"><img src="assets/images/icons/word.png" class="img-responsive" /></a>

      </div>
	  
	  
      <div class="col-md-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="assets/documents/palyazat/mfp_paly.jpg" class="img-responsive" />
      </div>
  
  <div class="col-md-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <img src="assets/documents/palyazat/mfp_logo.jpg" class="img-responsive" />
 
       </div>
  <br>  <br>

    </div>
    </section>
</div>
   
</div>
<app-footer></app-footer>
