<footer>
  <br>
  <br>
    <div class="footer">
      <div class="container">
        <div class="social-icon">
          <div class="col-md-4">
            <ul class="social-network">
              <li><a href="https://hu-hu.facebook.com/onkormanyzat.kisrakos" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-4">
          <div class="copyright"> 
            <div style="font-style:italic;">
              <br> fotó: Bita Gábor </div>
          </div>
        </div>
      </div>

      <div class="pull-right">
        <div class="pull-right">
          <a (click)="scrollUp()" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
        </div>
        <a (click)="scrollUp()" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
      </div>
    </div>
  </footer>
