
    <h1>Szervezeti, személyzeti adatok</h1>
    <h2>A szerv vezetői</h2>
    
<ul>
       <li> Subosits Gábor polgármester </li>
       <li> Tarafás-Rujsz Rita alpolgármester </li>
       <li> Zsohár Zoltán képviselő </li>
       <li> Tóth Balázs képviselő </li>
       <li> Kalmárné Hegyi Ildikó képviselő </li>
    </ul>

    <h2>Felettes, felügyeleti, törvényességi ellenőrzést gyakorló szervek</h2>
    <p>Vas Vármegyei Kormányhivatal</p>
    <address>
        Cím: 9700 Szombathely, Berzsenyi tér 1.<br>
        Levelezési cím: 9700 Szombathely, Berzsenyi tér 1.<br>
        Telefon: +36 (94) 517-117; +36 (94) 517-107; +36 (94) 517-159<br>
        Fax: +36 (94) 517-105<br>
        Szervezet vezetője: Vámos Zoltán főispán<br>
        E-mail: kormanyhivatal@vas.gov.hu<br>
        Honlap: <a href="http://kormanyhivatal.hu/hu/vas">http://kormanyhivatal.hu/hu/vas</a>
    </address>

    <h2>Kapcsolat, szervezet, vezetők</h2>
    <p>Községi Önkormányzat Kisrákos Ivánci Közös Önkormányzati Hivatal</p>
    <address>
        Cím: 9936, Kisrákos, Fő u. 43.<br>
        Telefon: +36304098036, 06-94/548-061, +36/94/542-027<br>
        E-mail: <a href="mailto:szolkeerzsi@gmail.com">szolkeerzsi@gmail.com</a>, <a href="mailto:jegyzo@ivanc.hu">jegyzo@ivanc.hu</a><br>
        Honlap: <a href="http://www.kisrakos.hu">www.kisrakos.hu</a>
    </address>

    <h2>Költségvetési szervek</h2>
    <p>Községi Önkormányzat Kisrákos</p>
    <address>
        Önállóan működő és gazdálkodó költségvetési szerv<br>
        Székhely: 9936 Kisrákos, Fő u. 43.<br>
        Alapításának időpontja: 1990.09.30.<br>
        Törzskönyvi nyilvántartási száma: 424152<br>
        Adószám: 15424154-1-18<br>
        KSH statisztikai számjel: 15424154-8411-321-18<br>
        Alaptevékenység: 841105 helyi önkormányzatok és társulások igazgatási tevékenysége
    </address>

    <h2>Lapok</h2>
    <p>nincs..</p>

    <h2>Szerv vezetőinek adatai</h2>
    <ul>
        <li>Subosits Gábor polgármester</li>
        <li>Radicsné dr. Soós Ágnes jegyző</li>
    </ul>
    <address>
        Telefonszám: +36304098036, 06-94/548-061, +36/94/542-027<br>
        E-mail: <a href="mailto:szolkeerzsi@gmail.com">szolkeerzsi@gmail.com</a>, <a href="mailto:jegyzo@ivanc.hu">jegyzo@ivanc.hu</a>
    </address>

    <h2>Szervezeti struktúra</h2>
    <p>Feltöltés alatt…</p>

    <h2>Ügyfélfogadási rend</h2>
    <p>Az Ivánci Közös Önkormányzati Hivatal ügyfélfogadási rendje:</p>
    <ul>
        <li>Hétfő: 8:00 - 12:00 óráig   13:00 - 16:00 óráig</li>
        <li>Kedd: ------</li>
        <li>Szerda: 8:00 – 12:00 óráig   13:00 – 16:00 óráig</li>
        <li>Csütörtök: 8:00 – 12:00 óráig</li>
        <li>Péntek: 8:00 – 12:00 óráig</li>
    </ul>

    <p>Ivánci Közös Önkormányzati Hivatal Pankaszi Kirendeltségének ügyfélfogadási rendje:</p>
    <ul>
        <li>Hétfő: 8:00-12:00 óráig    13:00-16:00 óráig</li>
        <li>Kedd: ------</li>
        <li>Szerda: 8:00-12:00 óráig   13:00-16:00 óráig</li>
        <li>Csütörtök: 8:00-12:00 óráig</li>
        <li>Péntek: 8:00-12:00 óráig</li>
    </ul>
