

<header>
    <app-nav-bar></app-nav-bar>
  </header>
  

<div id="about" class="about">
    <br>
    <div class="container">
      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Őrségi református templom</h2>
        <img src="assets/images/templom.jpg" class="img-responsive" />
      </div>

      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <br>
        <br>
        <br>
        <br>
        <p> Az épületet 1843-ban három falu: Szaknyér, Viszák és Kisrákos építtette. Akkoriban a három község híveinek még külön helyük volt a tágas, karzatos templomban.
          A puritánságában is szép református templomban Marton Géza bácsi a gondnok.
        </p>
        <br>
		<p>A tehetős falu reformátusainak nem volt még temploma az 1800-as évek elején, és a nagyrákosi parókiához tartoztak. 
      Azokban az években a templomépítési engedélyért Bécsbe, a császári udvarhoz kellett fordulni. Két helyi fiatalember, Bita László és társa gyalog tette meg az utat. 
      Csizmájukat vállon vitték, hogy ne legyen viseletes, és csak a császári udvarban vették föl a lábravalót. 
      Ahogy megkapták az engedélyt, a csizmájukat levéve indultak hazafelé. A templom pedig 1843-ban felépült. Hálából Mária Terézia halálának évfordulójára hársfasort ültettek a faluban.</p>
      
      <blockquote><h3><p>
        Annak idején, ünnepek alkalmával még a feljárókon is álltak az emberek
      </p>     
      <br>
      </h3>
      <footer>Marton Géza, gondnok</footer>
    </blockquote>

    </div>
    </div>
  </div>

  <div id="kalyha" class="about">
      
<br>
    <div class="container">
      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Kályhakiállítás</h2>

        <p>Kisrákoson a Művelődési Házban különleges látványosság a XIX-XX. századból származó öntöttvas kályhák gyűjteménye. A kiállításon több mint 100 öntöttvas kályha tekinthető meg.
          Az elsők ezekből még az 1800 években készültek. Több, mint két tucat vaskályharégiség pedig még felújításra, restaurálásra vár.</p>
       <br>

        <p>A szebbnél szebb régi vaskályhákat dr. Marton Győző állatorvos ajánlotta fel a szülőfalujának, ma is folyamatosan gyarapítva a kollekciót. 
          Az Önkormányzat terveiben szerepel, hogy a művelődési ház termeibe bezsúfolt kályháknak egy nagyobb kiállítóteret alakít ki.
    </p>
   
      </div>

      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <img src="assets/images/kalyha.jpg" class="img-responsive" style="height:400px !important" />
	
      </div>
    </div>
  </div>


  
  <div id="alpaka" class="about">
    <br>
    <div class="container">
      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Alpaka panzió</h2>
        <img src="assets/images/Alpaka.jpg" class="img-responsive" />
      </div>

      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        	<br>
		<p>
      <br>
      <br>
      <br>
      Hangulatos szálláshely a falu határán.
    </p>
    <p>
      A panzión  2018 év végén és 2019 év elején teljes körű felújítást hajtottak végre. Új, hangulatos fürdőszobákkal és szobákkal várják Önöket! 
      </p>
   
      <p style="font-style:italic">
      Foglalás, bővebb információk az alábbi linken: <a style="padding-left: 8px; color: black;" href="http://alpacafarmhungary.com/panzio/">alpacafarmhungary</a>
    </p>

      </div>
    </div>
  </div>



  <app-footer></app-footer>



