<div class="card mb-2 box-shadow documentCard" *ngIf="document">
    <img routerLink="{{document.documentUrl}}" src="{{document.fileTypeUrl}}" alt="{{document.name}}">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">        
        <h6> 
            {{document.name}}
        </h6>
            
        <div class="btn-group mt-auto" id="downloadButton">   
         <a type="button" href="{{document.documentUrl}}" class="btn btn-sm btn-outline-secondary"> </a>
        </div>  
      <!-- <small class="text-muted">{{document.date}}</small> --> 
      </div>
    </div>
</div>