<h2>Helyi Választási Bizottság Tagjai</h2>
<h2>Tagok:</h2>
<ul>
    <li>Marton Zoltán (Elnök)</li>
    <li>Bitáné Köbli Mónika (Elnökhelyettes)</li>
    <li>Marton Ildikó (Tag)</li>
    <li>Fölnagy Csaba (Tag)</li>
</ul>
<h2>Póttagok:</h2>
<ul>
    <li>Bálint Tamásné (Póttag)</li>
    <li>Pomper Róbert (Póttag)</li>
</ul>
<h2>Elérhetőségek:</h2>
<p>Helyi Választási Bizottság<br>
9936 Kisrákos, Fő út 28.<br>
Tel.: 94/542-027</p>

<br>
<p><li> <a class="nav-a" href="/assets/documents/valasztas2024/HVB alakuló ülés jegyzőkönyv Kisrákos.PDF"> Alakuló ülés jegyzőkönyve </a>  </li></p>
