
<header>
  <app-nav-bar></app-nav-bar>

</header> 



   <div id="mainContanier" class="with:100%">


  <section id="main-slider" class="no-margin">
    <div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(assets/images/slider/bg7.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-6">
                <div class="carousel-content">
                  <h2 class="animation animated-item-1">Köszöntünk </h2>
                  <h2 class="animation animated-item-2">Kisrákos honlapján!</h2>
                  <a class="btn-slide animation animated-item-3" href="#about">Mutass többet</a>
                </div>
              </div>

              <div class="col-sm-6 hidden-xs animation animated-item-4">
                <div class="slider-img">
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--/.item-->
      </div>
      <!--/.carousel-inner-->
    </div>
    <!--/.carousel-->
  </section>
  <!--/#main-slider-->

 

  <div id="about" class="about">
    <br>
    <div class="container">
      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Falunkról</h2>
        <img src="assets/images/t.jpg" class="img-responsive" />
        <p>Az Őrség peremén vár felfedezésre a kicsiny falu, amelynek dolgos népe munkájával évszázadok
        <br>óta járul hozzá a tájegység fejlődéséhez. A lakosság nagy része elismert gazdálkodó volt.
        <br>Kisrákos a feljegyzések tanúsága szerint 1428-ban már lakott hely volt a rákban gazdag Denke-patak két partján.
        <br>A ma alig 200 fős község Felső-Rákos és Iklód egyesülésével jött létre.
        </p>
      </div>

      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        	<br>
		<p>A kisrákosiak mindig serényen dolgoztak falujuk szépségéért, hírét is messzire vitték a szülőföldből táplálkozó tudásukkal.
		</p>
		<p>A református templom építéséhez a császár engedélye kellett.A hozzá vezető utat két helyi hívő mezitláb tette meg, hogy külön az ő tiszteletére készített bőr csizmájuk el ne kopjon. A siker nem maradt el,megkapták az engedélyt és 1843-ban megépült a templom.
		</p>
		<br>
		<p>Kisrákosra régóta jellemző volt a kimagasló kultúrális élet és sporttevékenység.
		<br>A civil 
		szerveződések közül legkorábban az Önkéntes Tűzoltó Egyesület alakult,de a
		<br>Polgárőrség és a Vöröskereszt helyi szervezete is aktívan alakítja a község hétköznapjait és ünnepeit.
		</p>
		<br>
		<p>A faluvezetés törekszik arra, hogy rendezett falukép fogadja a vendégeket.
		<br>A tervek között szerepel egy olyan helyiség kialakítása, ahol a régi idők emlékeit őrizhetik tovább az utódoknak.Különös 
		<br>tekintettel a már ma is az év bármely szakaszában megtekinthető múltszázadi kályhakiállításra.
		<br>Üres házhelyek, házak várják a nyugalomra, egészséges, tiszta környezetre vágyó és a vidék haladásáért tenni akaró beköltözőket.
		<br>A befogadó, nyitott kisrákosiak télen-nyáron tudnak szálláslehetőséget, étkezést biztosítani.
		Kizárva a rosszat, bemutatják a valódi helyi értékeket.
      </div>
    </div>
  </div>


 <!--- <div id="mayorWelcome" class="about">
    <div class="container">
      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <blockquote><h3><p>
          Itt nőttem fel, és emlékszem, hogy gyerekkoromban az emberek milyen kedvesek voltak, szántak időt a másikra, integettek egymásnak a földekről a munka mellől is. Szeretném ezt az összetartozás-érzést visszahozni, hogy az emberek mosolyogjanak, s az elszármazottak is úgy érezzék,
           jó volt kisrákosinak lenni. Sok apró rendezvény van már a hátunk mögött: volt kapunyitogató programunk, nemrég lépett fel nálunk a perenyei férfikar, a celldömölki Tücsök Bábegyüttes. Bagolytúránk iránt hihetetlenül nagy volt az érdeklődés. Karácsony, húsvét, anyák napja előtt 
           – ha kevés is a gyerek – összeülünk a könyvtárban, ajándékokat készítünk, rajzversenyt hirdetünk. Bált is tartunk évente több alkalommal.
        </p>
        <br>
        </h3>
      	<footer>Könyéné Szölke Erzsébet, Polgármester Asszony</footer>
</blockquote>
      </div>

      <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <img src="assets/images/mayor.jpg" class="img-responsive" style="height:300px !important" />
	
      </div>
    </div>
    <br>
  </div>-->

  <div class="interests">
    <div class="container">
      <div class="text-center">
        <h2>Látnivalók</h2>
      </div>
      <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <a (click)="navigateToPage(1)" ><img src="assets/images/templom.jpg"  class="img-responsive" /></a>
        <p>Református templom
        </p>
      </div>

      <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <a (click)="navigateToPage(2)"> <img src="assets/images/kalyha.jpg" class="img-responsive" /> </a>
        <p>Kályhakiállítás
        </p>
      </div> 

      <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <a (click)="navigateToPage(3)"> <img src="assets/images/Alpaka.jpg" class="img-responsive" /> </a>
        <p>Alpaka panzió
        </p>
      </div>

    </div>
  </div>
  
  <app-footer></app-footer>

</div>